<h1>Data Hub Test Page</h1>
<ul>
  <li><a href="/movements">Accelerometer data<a/></li>
  <li><a href="/temperatures">Temperature data<a/></li>
  <li><a href="/locations">Location data<a/></li>
</ul>

